@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
  box-sizing: border-box;
  margin: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  color: black;
}

button {
  margin: 10px;
  padding: 5px;
  border: 1px dotted white;
  border-radius: 20%;
  min-width: 50px;
  box-shadow: 0px 10px 5px 0px;
}

button:active {
  box-shadow: 0px;
  border: none;
  transform: translateY(4px);
}
